*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    scroll-behavior: smooth;
}
body{
    background:#fff;
    
    overflow-x: hidden;
}
@font-face {
    font-family:prgg;
    src: url(../font/patrick.ttf);
}
@font-face {
    font-family:hdd;
    src: url(../font/Comic\ Kings.ttf);
}
@font-face {
    font-family:hd;
    src: url(../font/bowlby.ttf);
}
p{
    font-family: prgg;
}
/* -----------------------------------bag--------------------------------- */
.bag{
    background-image: url(../images/backg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:388vw;
    position: relative;
}
.icuns{
display: flex;
padding-top: 3vw;
flex-direction: column;
gap: .5vw;

}
.icns .icuns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
.icuns  img{
    width: 5vw;
    transition: .4s;
    display: flex;
    position: relative;
    left: 93%;
    
}
.icuns  img:hover{
    transform: translateX(-.6vw);
}
.logo{
    width: 45vw;
    display: flex;
    margin: auto;
    margin-top: 13vw;
}

/* ---------------------bnrs---------------------- */

.bnrs .b1{
    position: absolute;
    width: 38vw;
    top: 15%;
    left: 4%;
}
.bnrs .b2{
    position: absolute;
    width: 45vw;
    left: 31.5%;
    top: 12%;
}
.bnrs .b3{
    position: absolute;
    width: 38vw;
    left: 60%;
    top: 14%;
}
/* ---------------------------------abt-sec----------------------------------------------- */
.abt-sec{
    position: relative;
    margin-top: 103vw;
}
.gif1{
    background: url("https://s3-alpha-sig.figma.com/img/1f2b/9de1/c751c546aa6844985bb5c904b3171db4?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q8JLQXRLh3DcIORY~FyAYUMhY4iQ2~Pw7AFrlFVzB80QQ2YH3kDCue1S5j48X3jwvjI0LXDqjFEoKM1wQR5~6jnGKNfp9kdRiNbzQoi48caRrThpfRySpFXqp3xeNd~ePl7TrZRnSd7r5nCwc6YgMwLDlpmwBi91Hxq4PuEdpNERCgzKRzJcR7Y8ThojG-xXzFDQga0aI1DVVWfGZHYsK4fAVm5BLgDVoYfaobKqHp70O6hIBofpRO3TPX1BLNEesJnpRP5kop6DMu3wolsc5KTl7gc33rl2QdKHzJd2Gtdt1OYnrRDm2TV7nMmyRfEi8t9XZazsdw1Pf1wqyKNTeA__");
    background-size: cover;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: -10%;
    left: 5%;
}
.abt-sec .c1{
    position: absolute;
    width: 12vw;
    left: 6%;
}
.abt-sec .c2{
    position: absolute;
    width: 12vw;
    right: 0;
    top: -15%;
}
.abt-sec .c3{
    position: absolute;
    width: 10vw;
   left: 7%;
    top: 76%;
    z-index: 2;
}
.about{
    background-image: url(../images/abt.png);
    width: 74%;
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 3vw 3vw; */
    height: 50vw;
    
    
}
.about .left{
    width: 40%;
    margin-top: 2vw;
}

.about .left img{
    width: 34vw;
}
.about .right{
    width: 45%;
    margin-top: 6vw;
}
.about .right p{
    width: 85%;
    font-size: 1.4vw;
    line-height: 1.7vw;
    font-weight: 500;

    
}
.scnd{
    margin-top: 2vw;
}
.btn{
    width: 12vw;
    margin-top: 2vw;
    transition: .4s;
}
.btn:hover{
    transform: translateY(-.3vw);
}
/* -----------------------------------token-bg---------------------------------- */
.token-bg{
    position: relative;
    width: 100%;
    margin-top: 6vw;
}
.token-bg .c4{
    position: absolute;
    width: 13vw;
    right: 0;
    top: 80%;
}
.token-bg .c5{
    position: absolute;
    width: 12vw;

    
}
.token{
    background-image: url(../images/tukn.png);
    width: 74%;
    background-size: cover;
    background-position: center;
    margin: auto;
    /* display: flex;
     align-items: center;
    justify-content: center; */
/* padding: 20vw 1vw;  */
    height: 60vw;
    

}
.lefts{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: -5vw;
    gap: 2vw;
    margin-left: 6vw;
    
}
.up{

}
/* .lefts img{
    width: 13vw;
} */
.token h4{
    font-size: 2vw;
    font-family: hdd;

}
.token ul{
    margin: .7vw;
    transform: translateX(1vw);
}
.token ul li{
    font-size: 1.5vw;
    font-family: prgg;
    line-height: 2.5vw;

}
.centr{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2vw;
    
}
.centr img{
    width: 17vw;
}
.thrd{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2vw;
    
    

}
.thrd .low{
    margin-left: 2vw;
    
}
.thrd img{
    width: 17vw;
}
/* ------------ */
.uprs{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
     align-items: center; 
     gap: 3vw;
     padding-top: 11vw;
}
.first{
    background: url("https://s3-alpha-sig.figma.com/img/ace3/4345/dcf60d090b01286a7276d26ee309cf6b?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=M917DbxczfNOiptygX2I0~vMB26uKAXIwO37nYcOmYci9YIaZuSvIVcvoczTUiYhlW9sDzd4YraOzhdEsBKLqh~PMdSE4izPBwlO~C2EALsPxhI8LO7ssMGg86KMnTf69GDyQkOPC6vJsRw8j~LX7CjyDEmy3xYmUpLa9dQF-wdYfqZDEp8ZsLkM5sKkiX7SWWFtTV0lcAAhHeCXvX8hO7OMra4IEIZ09pmG5qoxupUdo2v2WW1NBsYD~qCTap76azhqiFSPGhnCXAZyEXmaQxx4QsmiKbE4fOtLrU1qDPKOjWPvYaIIqYfGcbCiigPRRPtXpNSSKuUNpBx5Qyo48g__");
    background-size: cover;
    width: 13vw;
    height: 25vw;
    transform: translateY(-2.3vw);


}
.secnd{
    background: url("https://s3-alpha-sig.figma.com/img/ce8b/4f0a/528570246af88e41ef8d1ae69c10825a?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FEBVproDxyILDuRxW1fsGqlk5CykVQc17GIPeSwr0NzsAXw6m5~-VHJm4qpM7BSMPXsz~uK9DBrsLkXgiXEVAnMEwvkaN2Sas~wT9suYfNFJZ9m2~Vc28FMNVO~cq5nJaj1W9ywX955JhVWWkgLkDeOuZxRrSpZKFf8AZ4FIKA4Xh3on890SXN9zza42bcyHeNZ4yu-X~rHO7WGE8th7ziryQx7dHHOVmKeV4oxNpsl25YFsmt3NGzzA4pVc28kkylK9dqS1GKPPaSreugNQgWCZY-oWhsjxnd0IzwyB-AIRP4b1UJoBqtwSKxd560Td387dLNg1ceup-B209SppHQ__");
    background-size: cover;
    width: 18vw;
    height: 18vw;
    animation: flipInY 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
.three{
    background: url("https://s3-alpha-sig.figma.com/img/5524/617e/2b1de855f5ee22e8601189c322bf7c9c?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SE3t-DukXlrthpIJaHH8nVUjiXSbkhgZWBX~-LepMCa6QzqgycOcZ3YpZrxADjHt2rtFdbh1GOpMNtyX3n3I1yMi9YFyngTFsLqbKaEW5m7qY1LnEijPbXK6LjXpAhc41aQSZ5sNLAgSAnSNmKv1WWO31XVHIkigoPV6wzs7SWQdl4H9I3nkPKYeoIqNOd5gW-37u1mFxrfGPwzz~CRg3k7shceYYT-hSPahDHwInfr6Rxb0WaOzVqlqf-Crrub4xOI~CULlKxTsjHhFYNcg0IllIKQMCr2EY1~7u8-4WBL4ImrVrN7Z8DGH0JoT2GFg4B4pzXA4G0DP3p0hRSVgSA__");
    background-size: cover;
    width: 18vw;
    height: 18vw;
    margin-top: 1vw;

}
.lowrs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 0vw;
}
.gift-2{
    background: url("https://s3-alpha-sig.figma.com/img/93ec/c447/a058781fc32d571073c09a7e22baf039?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MXFwG3ThkjeGAcaTz6wYwd0uFhgTWNQU0cfyVhOdIJ7bP75c9caXRGae3owJH6f4blHy0xxIkZDS5b2HCDDyBcjhe0tvbJmq4sWp7p4Yerfo0TKDwWXJ9YPfobBhwdoCzyipYfKV2tJCiUOVWsNXQ5vKlgk-BwgS63xbk2LksA-h~TJ2Zj9B6WyPucD25vPgXXo3IIjgkhXbTKSEd0Ubmsgk-Q3ds8IvZwh9-4DLdBe5lUcZyML2TU471z3DxBx977HsJICFV1k9egG3AIgjJKDuCNaJUSZhzABl4Txvgvm2CUIz-9mealDY4OVuPQaYqM90wczinpngHw79H9gt4g__");
    background-size: cover;
    width: 13vw;
    height: 10vw;
    position: absolute;
    right: 0%;
    top: 22%;
}
/* --------------------------------------road-sec-------------------------------------------- */
.road-sec{
    position: relative;
    width: 100%;
    margin-top: 7VW;
}

.token-bg .c7{
    position: absolute;
    width: 13.5vw;
    top: -8%;
    
    
}
.token-bg .c10{
    position: absolute;
    width: 13.5vw;
    right: 0;
    top: 30%;
    
    
}
.token-bg .c8{
    position: absolute;
    width: 7.4vw;
    left: 68%;
    z-index: 2;
    top: -7.4%;

    
}
.token-bg .c9{
    position: absolute;
    width: 7.4vw;
    left: 22.5%;
    z-index: 2;
    top: -7.4%;
    
    
}

.road{
    background-image: url(../images/rodas.png);
    width: 80%;
    background-size: cover;
    background-position: center;
    margin: auto;
    position: relative;
    height: 90vw;

}
.phs-1{
    position: absolute;
    left: 17%;
    top: 12%;
}
.phs-1 .opr{
    background: url("https://s3-alpha-sig.figma.com/img/1f2b/9de1/c751c546aa6844985bb5c904b3171db4?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q8JLQXRLh3DcIORY~FyAYUMhY4iQ2~Pw7AFrlFVzB80QQ2YH3kDCue1S5j48X3jwvjI0LXDqjFEoKM1wQR5~6jnGKNfp9kdRiNbzQoi48caRrThpfRySpFXqp3xeNd~ePl7TrZRnSd7r5nCwc6YgMwLDlpmwBi91Hxq4PuEdpNERCgzKRzJcR7Y8ThojG-xXzFDQga0aI1DVVWfGZHYsK4fAVm5BLgDVoYfaobKqHp70O6hIBofpRO3TPX1BLNEesJnpRP5kop6DMu3wolsc5KTl7gc33rl2QdKHzJd2Gtdt1OYnrRDm2TV7nMmyRfEi8t9XZazsdw1Pf1wqyKNTeA__");
    background-size: cover;
    width: 14vw;
    height: 14vw;
    margin: auto;


}


.phs-2{
    position: absolute;
    left: 55%;
    top: 12%;
}
.phs-2 .opr{
    background: url("https://s3-alpha-sig.figma.com/img/5909/25f9/10be8d3a0f527a3f7a597ac1b17d1b2a?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XIs0tiffaZ3cF3eXMy5PWQt5dd6qWLOhFKqRTrzAhH9MK~ffxDKzG~w80zXIcxFJ3N0kmbUyxbIjRrLQN7BmgFfQyFKEm0uYw9nQnYRCBYcspsyqR7u9dBpjTYYLf6VIiiqv7pQjSSdfl35G7JDYQ8YTs3~ACp1dMm0ieyJnmZ4neIGZtVSIH2pZcSrjjGKjj4-n639OI0Y~iVj6Wd8BxskkmKeg8r~wVwhJfMr5UrZpR-j9qa-TpcAgBAVB0FGtP1i2N9j5iDW-q1bL-scODxTSU9eopUdzjaE0pdCQov2hm4NyWmy-812tNHgK97niYcF6EtXUri4gQu6rMrXvRg__");
    background-size: cover;
    width: 14vw;
    height: 14vw;
    margin: auto;


}


.phs-3{
    position: absolute;
    left: 17%;
    top: 53%;
}
.phs-3 .oprr{
    background: url("https://s3-alpha-sig.figma.com/img/93ec/c447/a058781fc32d571073c09a7e22baf039?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MXFwG3ThkjeGAcaTz6wYwd0uFhgTWNQU0cfyVhOdIJ7bP75c9caXRGae3owJH6f4blHy0xxIkZDS5b2HCDDyBcjhe0tvbJmq4sWp7p4Yerfo0TKDwWXJ9YPfobBhwdoCzyipYfKV2tJCiUOVWsNXQ5vKlgk-BwgS63xbk2LksA-h~TJ2Zj9B6WyPucD25vPgXXo3IIjgkhXbTKSEd0Ubmsgk-Q3ds8IvZwh9-4DLdBe5lUcZyML2TU471z3DxBx977HsJICFV1k9egG3AIgjJKDuCNaJUSZhzABl4Txvgvm2CUIz-9mealDY4OVuPQaYqM90wczinpngHw79H9gt4g__");
    background-size: cover;
    width: 15vw;
    height: 15vw;
    margin: auto;


}


.phs-4{
    position: absolute;
    left: 55%;
    top: 53%;
}

.phs-4 .oprr{
    background: url("https://s3-alpha-sig.figma.com/img/2ad3/bf94/5937da357cd925c52c353f94ee44c4b4?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eiKPxIQU9dDWKFzJpHPf4V5sLyxpvyx7hEgezjZm3DWVA81e~Iq77Ka9tcr-CpTIqLw-pbvGuTkZ8KNSIrBf7atCV6zf8xKQp589~j6q6-mucBUi~MwKRDmg7yEKnwS08sR7cV7Wd44Ja8p98q3F0K1023OIM0qNyEZuVlU2zSEQrZEjzYDU3mJSrjPX9aRghcmeSzyVvrmUBHSnt5Z~VUXwCn9Q-LcX7j6-7Gs5D-i4GwRkaxEYgf1fiXnDeCxsMR6IlOkXq6TMSPO3Ou7IxviiQ~6dKGfbqWTj6cTTCG0FOFKZGnqL7o4sk15TYp0aDJgtfrT7jbVskcmIGAsz9Q__");
    background-size: cover;
    width: 15vw;
    height: 15vw;
    margin: auto;


}

.road h4{
    font-size: 1.6vw;
    font-family: hdd;
    margin-top: 1vw;
    

}
.road ul{
    margin: .7vw;
    
}
.road ul li{
    font-size: 1.5vw;
    font-family: prgg;
    line-height: 1.7vw;
    font-weight: 600;

}





/* -----------------ftr------------------- */
.ftr{
    background-image: url(../images/ftr.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    width: 100%;
    height: 25vw;
    gap: 4vw;


}
.lift {
background: url("https://s3-alpha-sig.figma.com/img/cb3b/6d08/2cf809b04616b720e8a6b86eb6a88206?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Spe6~GYkSqgwRUEviq88m0qpWUghutUgyaalJ8vPWys3d1zMylz4uG13Xq9VFZQOez87pIHB6He5R8yEWg2niZGbX5I9MGA9WREk2LHH186yEdt89fLzT6nGcvPTFij~StrqCnUp5-FxM5bYLqben-StolbYukBENrUEKLsIxvFHfcTJIuag7CiF7AQbknxevso6eqPLB2Js83b-zvZnovhJiHeeTnZmBlXTN1eF9ycch1dX-wD4PgvxSQXUb1GBh1QMTTOKoDQEDDqr8K7T~1joEbgVI3Hb5nIK-0MK~aVXrIFQV479FAXlDCLCo5RQQ1NA8wHwSzrbKIWyjDMnOA__");
background-size: cover;
width: 20vw;
height: 20vw;
margin-top: -6vw;
}
.rigt .upi {
    display: flex;
    
    align-items: center;
    gap: 1vw;
}
.rigt .i{
    width: 5vw;
    transition: .4s;
}
.rigt .i:hover{
    transform: translateY(-.5vw);
}
.btun{
    width: 12vw;
    transition: .4s;
}

.rigt p{
    font-size: 1.7vw;
    color: #000;
    font-family: prgg;
    margin-top: 1vw;
} 



